/* set range from 1 - 0 vertically (highest on top) */ .temp-range
{
  padding-bottom: 20px;
}

.axis text {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.manual-override {
  padding: 15px;
}